# Copy to config/paths.env and edit locally. Do not commit private HPC paths.
READ1=data/raw/MA12_L1_1_val_1.fq.gz
READ2=data/raw/MA12_L1_2_val_2.fq.gz
GENOME=results/assembly/MA12_medusa.fasta
PROTEINS=data/proteins/MA12.faa
PROTEOME_DIR=data/proteomes
REFERENCE=data/genomes/P_wereldwijsianum.fasta
QUERY=results/assembly/MA12_medusa.fasta
